extends profile.pug

block profile-content
  .tabs.is-centered(style={'background-color': 'white'}): ul
    li: a(href="/profile/stressors") Stressors
    li: a(href="/profile/insights") Insights
    li.is-active: a(href="/profile/activities") Activities

  section.section: .container
    if activities.length === 0
      p.has-text-centered No activities yet
    else 
      h1.title.is-5 Activities
      hr
      each activity in activities
        .box
          a(href=activity.link)= activity.name
          br
          span.tag.is-light= activity.tag
