extends profile.pug

block profile-content
  .tabs.is-centered(style={'background-color': 'white'}): ul
    li: a(href="/profile/stressors") Stressors
    li.is-active: a(href="/profile/insights") Insights
    li: a(href="/profile/activities") Activities

  section.section: .container
    if mainCategory != 'None' || stressorCount != 0 || unlabeledCount != 0
      h1.title.is-5 Insights
      hr
      .content.has-text-centered
        if mainCategory != 'None'
          p Your main category of stress is #[code= mainCategory]
        if stressorCount != 0
          p You have a total of #[code= stressorCount] stressors currently
        if unlabledCount !== 0
          p You have #[code= unlabledCount] stressors without patterns
    else
      p No insights yet
