// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables

html,
body {
  margin: 0;
  background-color: $white-ter;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

// Responsive
$gap: 42px;
$tablet: 769px;
$desktop: 769px + (2 * $gap);

// Font
$family-sans-serif: "Varela Round", BlinkMacSystemFont, -apple-system,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// $family-monospace: "IBM Plex Mono", monospace;

// 3. Set the derived variables

// Theme
$primary: $purple;

// Responsive
$widescreen: $desktop;
$fullhd: $widescreen;

// Input
$input-background-color: $white-ter;
$input-border-color: $white-ter;
$input-focus-border-color: $white-ter;
$input-focus-box-shadow-color: rgba($grey-darker, 0.25);
$input-shadow: none;

// 4. Setup your Custom Colors

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
